# requirements.txt  (root)

teachbooks
jupyterbook-patches
sphinx-image-inverter
download_link_replacer
sphinx-exercise
teachbooks-sphinx-tippy
sphinx-iframes
sphinx-named-colors
seaborn
sphinx-accessibility

# Build-time pins you asked for
matplotlib==3.10.7
micropip==0.11.0

# Pin the Sphinx-Thebe plugin to a COMMIT SHA you choose
git+https://github.com/TeachBooks/Sphinx-Thebe@065dad097af33da2d9453b2ab248028d3e7c5615
